 body{
    background: #59BFDC !important;
  }
  *{
	box-sizing: border-box;
	margin: 0px;
}
.container {
    max-width: 1140px;
    /*box-shadow: 0px 0px 1px #00000073;*/
    margin: 0 auto;
}
.row{
	width: 100%;
}

/*for desktop*/
.col-md-1{width: 8.33%;}
.col-md-2{width: 16.64%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.33%;}
.col-md-5{width: 41.66%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33%;}
.col-md-8{width: 66.66%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33%;}
.col-md-11{width: 91.66%;}
.col-md-12{width: 100%;}


[class*="col-md-"]{
	float: left;
	padding: 10px;
}
.row::after{
	content: '';
	clear: both;
	display: table;
}

.logo-box {
    width: 100px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.logo-box img{
	width: 100%;
}
.menu{
	background-color: black;
	overflow: hidden;
	display: flex;
  justify-content: center;
  align-items: center;

}
.menu-text {
    
}
.menu-text ul {
    margin: 0px;
    padding: 0px;
    padding-left: 20px !important;
}
.menu-text nav ul li{
	display: inline;
	list-style: none;
	margin: 0px;
}
.menu-text nav ul li a {
    color: #ffffffbd;
    text-decoration: none;
    padding: 16px;
    transition: .7s;
    font-size: 18px;
}
.menu-text nav ul li a:hover {
    color: black;
    background-color: #59BFDC ;
    padding: 16px;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
}
.login a{
	color: white;
	text-decoration: none;
	background-color: #299dad;
	padding: 6px 20px;
	transition: .5s;
}
.login a:hover{
	background-color: #158595;
}

#body-section-main{
	min-height: 500px;
}


footer{
	background-color: black;
	overflow: hidden;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer h4 {
    text-align: center;
    margin: 0px;
}
#p1 {
    background-color: red;
    color: white;
    width: 200px;
   	position: absolute;
    margin-left: 782px;
    display: none;
    transition: 1s;


}
button#show {
    display: inline;
}


/*close header,footer and layout*/

/*deshboard link*/

.admintext {
    font-size: 32px;
    color: white;
    margin-top: 26px;
}

.box a{
	background: white;
    margin: 5px;
    padding: 20px;
    text-align: center;
    transition: 1s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
}
.box a:hover{
	background: black;
	color: white;
}

/*list*/

.table.table-hover {
    width: 100% !important;
    text-align: left;
}
thead {
    border-bottom: 2px solid #000;
}
table {
     caption-side: bottom; 
     border-collapse: collapse; 
}
th {
    padding: 10px 5px;
    background: white;
}

td {
    padding: 10px 5px;
}
tbody tr:hover {
    background: #00000021 !important;
}
table tr:nth-child(even){background-color: #00000021;border-top: 1px solid gray;border-bottom: 1px solid gray}
table tr:nth-child(odd){background-color: #f2f2f2;}

#delete_btn {
    background: red;
    padding: 3px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
#delete_btn:hover {
    background: #d90505;
    padding: 4px 6px;
}
#details_btn {
    background: #24d1c1;
    padding: 3px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
#details_btn:hover {
    background: #13897e;
    padding: 4px 6px;
}
#edit_btn {
    background: #337ab7;
    padding: 3px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
#edit_btn:hover {
    background: #164b78;
    padding: 4px 6px;
}
#succesmsg {
    color: green !important;
    font-weight: bold !important;
    text-align: center !important;
}

/*details page*/

.emp_details {
    width: 741px;
    margin: 0 auto;
    background: #80808012;
}
.emp_details_img_box {
    max-width: 150px;
    float: right;
    height: 150px;
}

.emp_details_img_box img {
    width: 100%;
    height: 100%;
}

.info_header {
    float: left;
    background: #8080801f;
    width: 562px;
    height: 150px;
    padding: 10px;
}
.info_heading h2 {
    background: #8080802e;
    border-top: 3px solid black;
    padding:10px;
    font-size: 20px;
    letter-spacing: 2px;

}

#table_1 {
    width: 100% !important;
    text-align: left;
}

#table_1  td {
    padding: 10px 5px;
    width: 20%;
}
#table_1 tbody tr:hover {
    background: #00000021 !important;
}
#table_1 tr:nth-child(even) {
    background-color: #0000000f;
    border-top: none;
    border-bottom: 1px solid #80808054;
}
#table_1 tr:nth-child(odd){background-color: #f2f2f2;}

#search_btn{
    width: 19%;
    display: inline;
    cursor: pointer;
    background: #337ab7;
    color: white;
}
#search_btn:hover{
    background: #337aa7;
}
#search{
    display: inline !important;
    width: 80% !important;
}

#searchID{
    display: inline !important;
    width: 77% !important;
}

#emp_details_r{
        background: white !important;
}


/*For ID card*/

.id_card_main {
    width: 255px;
    background: #80808042;
    padding: 30px 10px 10px 10px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

.id_card {
    background: white;
    border-radius: 3px;
}

.id_card_heading {
    font-weight: bold;
    background: #6495ed70;
    height: 92px;
    padding-top: 4px;
}

.id_card_logo_box {
    width: 50px;
    margin: 0 auto;
}
.id_card_logo_box img{
    width: 100%;
}
.id_card_logo_box h4{
    display: inline;
}
.id_card_img_box {
    width: 80px;
    margin: 0 auto;
    margin-top: -41px;
}
.id_card_img_box img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.id_card_body {
    font-weight: bold;
}
.id_card_body_info {
    text-align: left;
    padding: 16px 5px 5px 5px;
    font-weight: normal;
    font-size: 13px;
}

#id_card_table{
    width: 100%;
}

#id_card_table td {
    padding: 2px 5px;
    width: 20%;
    font-size: 12px;
}
#id_card_table tbody tr:hover {
    background: #00000021 !important;
}
#id_card_table tr:nth-child(even) {
    background-color: #0000000f;
    border-top: none;
    border-bottom: 1px solid #80808054;
}
#id_card_table tr:nth-child(odd){background-color: #ffffff;}


/*back side*/
.id_card_back {
    background: #bbd0f775;
    border-radius: 3px;
}

.id_card_heading_back {
    font-weight: bold;
    height: 92px;
    padding-top: 4px;
}

.id_card_logo_box_back {
    width: 50px;
    margin: 0 auto;
}
.id_card_logo_box_back img{
    width: 100%;
}
.id_card_logo_box_back h4{
    display: inline;
}
.id_card_img_box_back {
    width: 80px;
    margin: 0 auto;
    margin-top: -41px;
}
.id_card_body_back {
    font-weight: bold;
    font-size: 13px;
}

.sinature {
    width: -20px;
    width: 100%;
    height: 33px;
    margin-top: 37px;
}
.signature_body {
    width: 61px;
    float: right;
    margin-right: 15px;
}
#back_side_barcode {
    margin-top: 28px;
}